[submodule "third-party/closure-compiler"]
	path = third-party/closure-compiler
	url = git://github.com/chemhack/closure-compiler.git
[submodule "closure-library"]
	path = closure-library
	url = git://github.com/jarib/google-closure-library.git
